on boot
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    chmod 660 /sys/class/backlight/panel0-backlight/brightness

service light-hal-2-0 /system/bin/hw/android.hardware.light@2.0-service.oppo_OP4A79
    class hal
    user system
    group system
