on boot
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

    chmod 660 /sys/class/backlight/panel0-backlight/brightness

service vendor.light-hal-oppo_OP4A7A /vendor/bin/hw/android.hardware.light-service.oppo_OP4A7A
    class hal
    user system
    group system
    shutdown critical