on boot
    chmod 0666 /sys/kernel/oppo_display/aod_light_mode_set
    chmod 0666 /sys/kernel/oppo_display/dimlayer_hbm
    chmod 0666 /sys/kernel/oppo_display/notify_fppress
    chmod 0666 /sys/kernel/oppo_display/notify_panel_blank
    chown system system /sys/kernel/oppo_display/aod_light_mode_set
    chown system system /sys/kernel/oppo_display/dimlayer_hbm
    chown system system /sys/kernel/oppo_display/notify_fppress
    chown system system /sys/kernel/oppo_display/notify_panel_blank

service vendor.fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.oppo_OP4A7A
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
